* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf");
}

.section-1 {
  padding: 40px 375px 0 375px;
  height: auto;
  position: relative;
}

@media (max-width: 1440px) {
  .section-1 {
    padding: 40px 100px 0 100px;
  }
}

.section-1 header {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.section-1 header nav a {
  text-decoration: none;
  font-family: "Poppins Medium";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.500211px;
  color: #444444;
}

.section-1 header nav .active {
  color: #FF7132;
}

.section-1 header nav .btn {
  font-family: "Poppins Regular";
  padding: 15px 32px;
  border: 1px solid #FF7132;
  color: #FF7132;
  border-radius: 30px;
}

.section-1 header nav .btn:hover {
  background-color: #FF7132;
  color: #ffffff;
}

.section-1 main {
  height: calc(100vh - 62px - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.section-1 main .left-container h1 {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 134%;
  letter-spacing: -2.50105px;
  color: #444444;
}

.section-1 main .left-container .line {
  margin: 8px 0px 12px;
  width: 54px;
  height: 6px;
  background-color: #FF7132;
}

.section-1 main .left-container p {
  margin-bottom: 30px;
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 200%;
  color: #666666;
}

.section-1 main .left-container .left-btn {
  color: #ffffff;
  background-color: #FF7132;
  border: none;
  border-radius: 40px;
  padding: 19px 50px;
  margin-right: 25px;
}

.section-1 main .left-container .right-btn {
  background-color: #ffffff;
  border: 3px solid #FF7132;
  border-radius: 40px;
  padding: 19px 50px;
}

.section-1 main .right-container {
  margin-left: 100px;
}

.section-1 main .right-container .key-img1 {
  width: 561px;
  height: 561px;
  position: absolute;
  right: 90px;
}

.section-1 main .right-container .battery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
          box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 15px;
  position: absolute;
  top: 560px;
  right: 90px;
}

.section-1 main .right-container .battery .battery-box {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
          box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 10px;
  margin: 16px;
}

.section-1 main .right-container .battery .battery-box img {
  margin: 10px 12px;
}

.section-1 .sircl1 {
  width: 16px;
  height: 16px;
  background-color: #FAD36C;
  border-radius: 100%;
  position: absolute;
  top: 355px;
  left: 670px;
}

.section-1 .sircl2 {
  width: 24px;
  height: 24px;
  background-color: #13CB73;
  border-radius: 100%;
  position: absolute;
  top: 755px;
  left: 800px;
}

.section-1 .sircl3 {
  width: 22px;
  height: 22px;
  background-color: #8B6FFF;
  border-radius: 100%;
  position: absolute;
  top: 505px;
  left: 1280px;
}

.section-1 .color-box {
  width: 720px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: F9F8F9;
}

.section-2 {
  height: auto;
}

@media (max-width: 1440px) {
  .section-2 {
    padding: 90px 100px 0 100px;
  }
}

.section-2 .top-text {
  font-weight: 600;
  font-size: 54px;
  line-height: 140%;
  text-align: center;
  color: #444444;
}

.section-2 .section-2-container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.section-2 .section-2-container .box-container {
  width: 370px;
  height: 398px;
  border: 1px solid #EAE9F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 40px 37px;
}

.section-2 .section-2-container .box-container :hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 80px rgba(102, 102, 102, 0.08);
          box-shadow: 0px 30px 80px rgba(102, 102, 102, 0.08);
  border-radius: 10px;
}

.section-2 .section-2-container .box-container div {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.656526px;
  color: #666666;
  padding: 30px 0px 15px;
}

.section-2 .section-2-container .box-container p {
  font-weight: normal;
  font-size: 20px;
  line-height: 200%;
  color: #666666;
  padding-bottom: 30px;
}

.section-2 .section-2-container .box-container a {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #666666;
  text-decoration: none;
}

.section-2 {
  height: auto;
}

@media (max-width: 1440px) {
  .section-2 {
    padding: 0px 100px 0 100px;
  }
}

body {
  font-family: "Poppins Regular";
  font-style: normal;
}
/*# sourceMappingURL=main.css.map */